@mixin d-flex ($gab:0 , $align-items:  center , $flex-direction:row ) {
    display: flex;
    justify-content: space-between;
    align-items: $align-items;
    flex-direction: $flex-direction;
    gap: $gab;
}

@mixin padding-RL($top:0, $left:0, $bottom:0, $right:0) {
    padding: $top $left $bottom $right;
}