@mixin d-flex ($gab: 0,
    $align-items: center,
    $flex-direction: row,
    $justify-content:space-between ) {
    display: flex;
    justify-content:  $justify-content;  
    align-items: $align-items;
    flex-direction: $flex-direction;
    gap: $gab;
    
}

@mixin padding-RL($top: 0, $left: 0, $bottom: 0, $right: 0) {
    padding: $top $left $bottom $right;
}

@mixin max-555 {
    @media(max-width:555px) {
        @content;
    }
}

@mixin max-768 {
    @media(max-width:768px) {
        @content;
    }
}
@mixin max-992 {
    @media(max-width:992px) {
        @content;
    }
}

@mixin tablates {
    @media (
        min-width: 768px) and (max-width: 991.98px
    ){
        @content;
    }
}
@mixin landscape-phones {
    @media (
        min-width: 576px) and (max-width: 767.98px
    ){
        @content;
    }
}

@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }
    @-moz-keyframes #{$name} {
        @content;
    }
    @-ms-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    }
}