// all color

$main-color: #1d1d1d;
$second-color: #e69802;
$third-color: #343434;
$font-text: #fff;
$p-text: #d8d8d8;
$btn: #3f3f3f86;
$hover: #5252525e;

// media Query

$phones-less: (
    max-width: 575.98px
);
$landscape-phones: (
    min-width: 576px) and (max-width: 767.98px
);
$tablets: (
    min-width: 768px) and (max-width: 991.98px
);
$desktops: (
    min-width: 992px) and (max-width: 1199.98px
);
$large-desktops: (
    min-width: 1200px
);



//placeholder
%main-button {
    border: none;
    margin-top: 30px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: $second-color;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
    text-transform: capitalize;
    cursor: pointer;

    &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 0%;
        transform: translateX(0);
        height: 100%;
        background-color: rgba(247, 207, 4, 0.3);
        transition: .5s;
    }

    &:hover {
        padding: 10px 25px;

        &::after {
            width: 100%;

        }

        a {
            color: black;
        }
    }

    a {
        color: $font-text;
        position: relative;
        z-index: 5;

    }

}

%main-arrows{
            box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 1);
            cursor: pointer;
            font-size: 20px;
            border: none;
            border-radius: 50%;
            padding: 15px 15px;
            color: $font-text;
            background-color: $third-color;
            transition: 0.5s;

            &:hover {
                background-color: $btn;
                transform: translateX(-10px);

            }
        }


        %main-buy {
            border: none;
            padding: 7px 15px;
            border-radius: 10px;
            background-color: $second-color;
            position: relative;
            overflow: hidden;
            transition: 0.5s;
            cursor: pointer;
            color: $font-text;
        
            &::after {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 0%;
                transform: translateX(0);
                height: 100%;
                background-color: rgba(247, 207, 4, 0.3);
                transition: .5s;
            }
        
            &:hover {
                color: black;
                padding: 7px 17px;
                &::after {
                    width: 100%;
                }
            }
        
            a {
                color: $font-text;
                position: relative;
                z-index: 5;
        
            }
        
        }
        