* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: rgb(20, 90, 220);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

/*
  /// Tip:
  you Can make All Media Screens as a Variables 
  in _breakPoints.scss & _variables.scss Files 
  but this is just a small Test to show you how to use This Structure
*/
.container {
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media screen and (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
.landing {
  height: 400px;
  position: relative;
  overflow: hidden;
}

.slides {
  display: flex;
  height: 100%;
}

.slide {
  min-width: 100%;
  position: relative;
}

.slide img {
  max-width: 100%;
  height: 100%;
}

.slide-controls {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#next-btn,
#prev-btn {
  cursor: pointer;
  background: transparent;
  font-size: 30px;
  border: none;
  padding: 10px;
  color: white;
}

#next-btn:focus,
#prev-btn:focus {
  outline: none;
}

.slide-content {
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
  font-size: 60px;
  color: white;
}

.header {
  background-color: #18212d;
}
.header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 0;
  padding: 10px 0 10px 0;
}
.header .nav .logo img {
  max-width: 120px;
}
@media (max-width: 768px) {
  .header .nav .logo img {
    max-width: 100px;
  }
}
@media (max-width: 768px) {
  .header .nav .linkes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    position: absolute;
    left: 0;
    top: -200px;
    opacity: 0;
    background-color: #18212d;
    width: 100%;
    height: 0px;
    z-index: -1;
    padding: 10px 0 30px;
    transition: 0.3s;
  }
  .header .nav .linkes.navmenu {
    top: 50px;
    opacity: 1;
    height: 250px;
    transition: 0.3s;
  }
}
.header .nav ul {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 40px;
}
@media (max-width: 768px) {
  .header .nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 30px;
  }
}
.header .nav ul .active,
.header .nav ul a:hover {
  color: #f79c33;
}
.header .nav ul a {
  color: #fff;
  text-transform: uppercase;
  padding: 20px 0;
}
.header .nav .icons .nav-bar {
  display: none;
  cursor: pointer;
}
@media (max-width: 768px) {
  .header .nav .icons .nav-bar {
    display: block;
  }
}
.header .nav .icons .nav-bar .bar1,
.header .nav .icons .nav-bar .bar2,
.header .nav .icons .nav-bar .bar3 {
  width: 25px;
  height: 3.5px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}
.header .nav .change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}
.header .nav .change .bar2 {
  opacity: 0;
}
.header .nav .change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}
.header .nav i {
  color: #fff;
  font-size: 20px;
}
.header .nav i:hover {
  color: #f79c33;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */