@use "../helpers/index" as *;

.footer{
    background-color: $main-color;
    .content{
        padding: 10px 0;
        @include d-flex;
        align-items: flex-start;
        @include max-768{
            flex-direction: column;
            align-items: center;
        }
        .head{
            padding: 40px 0 10px;
            max-width: 100%;
            @include max-768{
                @include d-flex;
                flex-direction: column;
                padding: 10px 0;
            }
            h3{
                color: rgb(201, 200, 200);
                padding-bottom: 15px;
            }
            ul{
                li{
                    text-transform: capitalize;
                    font-size: 15px;
                    color: rgb(201, 200, 200);
                    font-weight: 100;
                    padding: 0 0 5px;
                    
                }
                @include max-768{
                    @include d-flex(20px);
                }
            }
            
        }
    }
        
        h2{
            color:rgb(201, 200, 200); 
            padding-bottom: 25px;
            text-transform: capitalize;
            i{
                font-size: 20px;
            }
            @include max-992{
                display: none;
            }
        }
}

.footerr{
    height: 5rem;
    background-color: $third-color;
    margin-top: 10px;
    box-shadow: 0px 3px 33px 5px rgba(0,0,0,0.75);
    .container{
        @include d-flex;
        position: relative;
        top: 40%;
        @include max-768{
            flex-direction: column;
            gap: 10px;
            }

    ul{
        color: rgb(201, 200, 200);
        font-size: 15px;
        @include d-flex(20px);
        @include max-992{
        font-size: 12px;
        }
        @include max-768{
            font-size: 15px;
            }
        @include max-555{
            font-size: 12px;
            }
        
    }
    }
    

}