@use "../helpers/index" as *;

.parent-of-form {
    background-color: rgba(7, 7, 7, 0.573);
    display: none;
    justify-content: center;
    align-items: center;
    @extend %postion-fixed;
    z-index: 10;
    form {
        margin: 30px auto;
        border: 2px black solid;
        background-color: white;
        padding-top: 16px;
        border-radius: 5px;
        width: 35%;
        transform: scale(0);
        transition: all 0.6s;
        @media (max-width: 1000px) {
            width: 60%;
        }
        @media (max-width: 700px) {
            width: 80%;
        }
        .form-container {
            padding: 16px;
            h2{
                margin-bottom: 30px;
            }

            #close {
                position: absolute;
                top: 20px;
                right: 20px;
                font-size: 22px;
                opacity: 0.75;
                transition: all 0.5s;
                &:hover {
                    transform: rotate(180deg);
                    font-size: 24px;
                    opacity: 1;
                    cursor: pointer;
                    font-weight: 600;
                }
            }
            .box {
                position: relative;
                // margin: 30px;
                p {
                    font-size: 14px;
                    color: red;
                    display: none;
                }
                .icon-check-circle {
                    color: #04AA6D;
                    font-size: 20px;
                    position: absolute;
                    top: 37px;
                    right: 16px;
                    opacity: 0;
                    transition: all 0.5s;
                }
                input[type=text],
                input[type=password],
                input[type=email] {
                    width: 100%;
                    padding: 15px;
                    margin: 5px 0;
                    display: inline-block;
                    border: none;
                    background: #f1f1f1;
                    border-radius: 5px;
                    &:focus {
                        background-color: #ddd;
                        outline: none;
                    }
                }
                .error {
                    border: 2px solid red !important;
                }
                .success {
                    border: 2px solid #04AA6D !important;
                }
            }
            .registerbtn {
                background-color: #04AA6D;
                color: white;
                padding: 16px 20px;
                margin: 21px 0 8px;
                border: none;
                cursor: pointer;
                width: 30%;
                opacity: 0.9;
                margin-left: auto;
                margin-right: auto;
                display: block;
                border-radius: 5px;
            }
            button:disabled {
                opacity: 0.4;
                cursor: not-allowed;
            }
        }
        a {
            color: dodgerblue;
        }
        .signin {
            background-color: #f1f1f1;
            text-align: center;
        }
    }
}

button:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}