@use "../helpers/index" as *;

.header {
    background-color: $main-color;
    box-shadow: 0px 0px 10px 2px rgb(15, 15, 15);
    // position: relative;
    position: fixed;
    z-index: 100;
    width: 100%;

    .nav {
        @include d-flex;
        @include padding-RL($top: 10px, $bottom: 10px);

        .logo {
            img {
                max-width: 120px;

                @include max-768 {
                    max-width: 100px;
                }

            }
        }

        .linkes {
            @include max-768 {
                @include d-flex (40px, center, column);
                box-shadow: 0px 10px 11px -12px rgba(0, 0, 0, 1);
                position: absolute;
                left: 0;
                // top: -200px;
                top: 50px;
                opacity: 0;
                z-index: 1;
                background-color: $main-color;
                width: 100%;
                height: 0px;
                padding: 10px 0 30px;
                transition: 0.3s;

                &.navmenu {
                    opacity: 1;
                    height: 250px;
                    transition: 0.3s;
                }
            }
        }

        ul {
            position: relative;

            li {
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    background-color: $second-color;
                    width: 0;
                    height: 2px;
                    left: 0;
                    bottom: -5px;
                    transition: 0.3s;
                }

                &:hover {
                    &::after {
                        width: 80%;

                    }
                }
            }

            @include d-flex(40px);

            @include max-768 {
                @include d-flex(30px);
            }

            .active,
            a:hover {
                color: $second-color;
            }

            a {
                color: $font-text;
                text-transform: uppercase;
                padding: 20px 0;
            }
        }

        .icons .nav-bar {
            display: none;
            cursor: pointer;

            @include max-768 {
                display: block;
            }

            .bar1,
            .bar2,
            .bar3 {
                width: 25px;
                height: 3.5px;
                background-color: $font-text;
                margin: 6px 0;
                transition: 0.4s;
            }
        }

        .change .bar1 {
            transform: translate(0, 11px) rotate(-45deg);
        }

        .change .bar2 {
            opacity: 0;
        }

        .change .bar3 {
            transform: translate(0, -11px) rotate(45deg);
        }

        i {
            color: $font-text;
            font-size: 20px;

            &:hover {
                color: $second-color;
                cursor: pointer;
            }
        }
    }
}

// Start silder nav

// End silder nav