@use "../helpers/index" as *;


.announce {
    margin: 5px 0;
    padding: 10px 0;
    background-color: $third-color;
    box-shadow: 0px 3px 33px 5px rgba(0,0,0,0.75);


    .product {
        @include d-flex;

        .text {
            max-width: 100%;
            text-align: center;
            color: $font-text;

            h2 {
                font-size: 40px;
                color: $second-color;
                font-weight: 600;
                text-transform: uppercase;
                @include  max-992{
                    font-size: 25px;
                    font-weight: 500;
                
                }
            }

            p {
                max-width: 60%;
                margin: 20px auto;
                line-height: 20px;
                @include  max-992{
                    max-width: 100%;
                    font-size: 15px;
                }
            }

            button {
                @extend %main-button 
            }
        }

        .image {
            max-width: 250px;
            @include  max-992{
            max-width: 200px;
            margin-left: 30px;
            @include max-555 {
                display: none;
            }
            }
            img {
                max-width: 100%;
                cursor: pointer;
                transition: .3s;

                &:hover {
                    transform: scale(1.1) rotate(10deg);
                }
            }
        }
    }
}