@use "../helpers/index" as *;


.black-screen {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 8%;
  right: 0;
  bottom: 0;
  width: 30%;
  background-color: $third-color;
  z-index: 50;


  .closee {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 22px;
    opacity: 0.75;
    transition: all 0.5s;
    color: $font-text;

    &:hover {
      transform: rotate(180deg);
      font-size: 24px;
      opacity: 1;
      cursor: pointer;
      font-weight: 600;
    }

  }
  h3{
    text-align: center;
    color: $font-text;
    margin-top: 30px;
    text-transform: uppercase;
  }
  .item-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 30px;
    padding: 20px 0;
    .item-containe{
      @include d-flex;
      color: $font-text;
      .imageAndcontain{
        @include d-flex;
        max-width: 70%;
      }
      .image{
        max-width: 40%;
        img{
          width: 100%;
          border-radius: 5px;
        }
      }
      .Items-content{
        
        .input-quantity{
          display: block;
          width:40px;
          margin-top: 5px;
          border: 2px solid black;
        }
        h6{
          font-size: 15px;
          text-transform: capitalize;
        }

      }
      .fa-trash{
        padding: 20px;
        font-size: 25px;
        color: red;
        cursor: pointer;
        transition: 0.1s;
        &:active{
          font-size: 20px;
        }
      }
    }
  }
}