@use "../helpers/index" as *;

.landing {
    min-height: calc(100vh - 54.5px);
    background-color: $main-color;
    position: relative;
    overflow: hidden;

    .slides {
        display: flex;
        height: 100%;

        .slide {
            min-width: 100%;
            position: relative;

            .container {
                margin-top: 100px;

                @include tablates {
                    margin-top: 100px;
                }

                .images {
                    @include d-flex (20px, center, row, center);
                    margin-bottom: 30px;
                    div {
                        box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 1);
                        width: 5%;
                        background-color: $btn;
                        border-radius: 5px;
                        cursor: pointer;
                        transition: 0.5s;
                        position: relative;

                        &::after {
                            content: '';
                            position: absolute;
                            background-color: $second-color;
                            width: 100%;
                            height: 0;
                            bottom: 0;
                            left: 0;
                            transition: 0.5s;
                            z-index: -1;
                        }

                        &:hover {
                            transform: translateY(-10px);

                            &::after {
                                height: 100%;
                            }
                        }

                        @include tablates {
                            margin-top: 50px;
                            width: 7%;
                        }

                        @include max-768 {
                            width: 10%;
                            margin-bottom: 20px;
                        }
                    }

                    img {
                        width: 100%;

                    }
                }

            }

            .contain {
                @include d-flex;

                @include max-768 {
                    @include d-flex (40px, center, column, space-between)
                }

                .text {
                    color: $font-text;
                    text-align: center;
                    max-width: 50%;

                    @include max-768 {
                        max-width: 100%;
                    }

                    span {
                        color: $second-color;
                        font-size: 40px
                    }

                    p {
                        padding-top: 20px;
                        line-height: 1.5;
                        font-size: 15px;
                        color: $p-text;

                        @include max-768 {
                            padding-top: 10px;
                        }

                    }

                    button {
                        @extend %main-button;
                    }
                }

                .img {
                    background-color: $second-color;
                    border-radius: 48% 52% 45% 55% / 49% 49% 51% 51%;
                    width: 400px;

                    @include tablates {
                        width: 300px;
                    }

                    @include max-768 {
                        width: 250px;
                        border-radius: 50% 50% 41% 59% / 52% 52% 48% 48%;
                        margin-bottom: 30px;
                    }

                    img {
                        max-width: 100%;
                        transition: 0.3s;
                        &:hover{
                            transform: scale(1.1) rotate(-10deg);
                            cursor: pointer;
                        }
                    }
                }

            }
        }
    }

    .slide-controls {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 100%;
        display: none;
        justify-content: space-between;
        align-items: center;
        padding: 30px;

        :hover & {
            display: flex;
            transition: .5s;
        }

        #next-btn,
        #prev-btn {
            box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 1);
            cursor: pointer;
            background: transparent;
            font-size: 30px;
            border: none;
            border-radius: 50%;
            padding: 10px 20px;
            color: $font-text;
            position: relative;
            background-color: $btn;
            transition: 0.5s;

            &:hover {
                background-color: $hover;
                transform: translateX(-10px);

            }
        }

        #next-btn:focus,
        #prev-btn:focus {
            outline: none;
        }
    }
}

sc {
    display: none;
}

