@use "../helpers/index" as *;

.lastViewed {
    background-color: $main-color;
    color: $font-text;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    .arrows {
        position: absolute;
        top: 60%;
        left: 0;
        transform: translateY(-50%);
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px;

        i {
            @extend %main-arrows;
        }

    }
    h3 {
        text-transform: capitalize;
        padding: {
            top: 20px;
            bottom: 10px;
            left: 10px;
        }
    }

    .last-view {
        @include d-flex(15px);
        overflow:hidden;
        position: relative;

        .viewed-contain {
            text-align: center;
            border-radius: 10px;
            overflow: hidden;
            margin: 20px 0;
            border: 2px solid $second-color;
            background-color: $third-color;

            .image {
                max-width: 100%;

                img {
                    width: 100%;
                }
            }

            .text {
                background-color: $third-color;

                h5 {
                    margin-top: 10px;
                    text-transform: uppercase;
                }

                .buy {
                    margin: {
                        top: 10px;
                        bottom: 10px;
                        left: 10px;
                        right: 10px;
                    }

                    @include d-flex;

                    button {
                        background-color: $second-color;
                        padding: 5px 10px;
                        border-radius: 5px;
                    }
                }
            }
        }
    }

}