@use "../helpers/index" as *;

.lastViewed {
    background-color: $main-color;
    color: $font-text;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    .container{
        max-width: 1445px;
    }
    .arrows {
        position: absolute;
        top: 55%;
        left: 0;
        transform: translateY(-50%);
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px;

        i {
            @extend %main-arrows;
        }

    }
    h3 {
        text-transform: capitalize;
        color: $second-color;
        padding: {
            top: 20px;
            bottom: 10px;
            left: 10px;
        }
    }

    .last-view {
        @include d-flex(15px);
        overflow-x: auto;
        scroll-behavior: smooth;
        &::-webkit-scrollbar {
            display: none;
        }

        .viewed-contain {
            box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 1);
            text-align: center;
            border-radius: 10px;
            overflow: hidden;
            margin: 20px 0;
            // border: 2px solid $second-color;
            // background-color: $third-color;
            flex: 0 0 auto;
            width: 270px;
            cursor: pointer;
            .image {
                max-width: 100%;

                img {
                    width: 100%;
                }
            }

            .text {
                // background-color: $third-color;
                border-top: 2px $second-color solid;

                h5 {
                    margin-top: 10px;
                    text-transform: uppercase;
                }

                .buy {
                    margin: {
                        top: 10px;
                        bottom: 10px;
                        left: 10px;
                        right: 10px;
                    }

                    @include d-flex;

                    button {
                        
                        @extend %main-buy;
                    }
                }
            }
        }
    }

}