@use "../helpers/index" as *;


.also-like{
    background-color: $main-color;
    margin-bottom: 5px;
    box-shadow: 0px 3px 33px 5px rgba(0,0,0,0.75);
    h3{
        padding:{
            left: 10px;
            top: 20px;
            bottom:10px;

        } 
        color: $second-color;
    }
    .container{
        max-width: 1445px;
    }

    .alsolike {
        @include d-flex(15px);
        overflow-x: auto;
        scroll-behavior: smooth;
        &::-webkit-scrollbar {
            display: none;
        }

        .contain {
            box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 1);
            text-align: center;
            border-radius: 5px;
            overflow: hidden;
            margin: 20px 0;
            flex: 0 0 auto;
            width: 270px;
            position: relative;
            transition: 0.3s;

            &::after{
                content:'';
                position: absolute;
                background-color: $second-color;
                bottom: 0;
                left: 0;
                height: 0;
                width: 0;
                transition: 0.5s;
            }
            &::before{
                content:'';
                position: absolute;
                background-color: $second-color;
                top: 0;
                right: 0;
                height: 0;
                width: 0;
                transition: 0.5s;
            }
            &:hover{
                transform: translateY(-10px);
                &::after{
                height: 100%;
                width: 2px;
                }
                &::before{
                height: 100%;
                width: 2px;
                }


            }
            cursor: pointer;
            .image {
                max-width: 100%;

                img {
                    width:270px;
                    height: 202.5px;
                }
            }

            .text {
                h2{
                    margin-top: 10px;
                    font-size: 15px;
                    text-transform: capitalize;
                    color: $font-text;

                }

                .buy {
                    margin: {
                        top: 10px;
                        bottom: 10px;
                        left: 10px;
                        right: 10px;
                    }

                    @include d-flex;
                    .price{
                        color: $font-text;
                    }

                    button {
                        
                        // @extend %main-buy;
                        border-radius: 10px;
                        padding: 3px 12px;
                        color: $font-text;

                    }
                }
            }
        }
    }

}